<!doctype html>

<head>
    <title>Pig Latin Translator</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Pig Latin Translator!</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h3>About:</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <p>
                    I created this page to learn about how to create things in django and stuff! Kiloveyoubaibai!
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <a href="{% url 'home' %}" class="btn btn-warning">
                    Go Home, You're Drunk
                </a>
            </div>
        </div>
        
    </div>
    

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
